.pointer {
  cursor: pointer;
}

.ant-modal-footer {
  display: none;
}

.ant-select-selector {
  height: 50px !important;
}

.ant-select-selection-placeholder,
.ant-select-selection-item {
  margin-top: 5px;
}

.btn-square {
  border-radius: 0;
}
