PORT=8000
DATABASE=
JWT_SECRET=
STRIPE_SECRET=
STRIPE_REDIRECT_URL=http://localhost:3000/stripe/callback
STRIPE_SETTING_REDIRECT_URL=http://localhost:3000/dashboard/seller
STRIPE_SUCCESS_URL=http://localhost:3000/stripe/success
STRIPE_CANCEL_URL=http://localhost:3000/stripe/cancel